body {
    background: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

a{
    color: antiquewhite
}

header {
    float: right;
    width: 100%
}

.container-1 {
    color: white;
    background-color: #4aaaa5;
    padding: 20px;
    font-size: 180%;
    display: flex;
    justify-content: center 
    
}

.linkbox {
    display: flex;
    align-content: center;
    width: 10%;
    height: 10%;
    margin: 1%
}

.container-2 {
    background: black;
    display: flex;
    justify-content: center;
}

.box-1 {
    display: flex;
    margin: 3% 5%;
    justify-content: center;
    align-content: center;

}

.box-2 {
    display: flex;
    margin: 0% 2%;
    justify-content: center;
    align-content: center
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 40%;
    width: 40%;
    margin: 20px 10px;
}

.subHeader{
    font-size: 180%
}

.bioContainer {
    line-height: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0% 25%;
    font-size: 120%;
}

footer {
    font-size: 50%;
}

