/* background */

body {
    background-image: url("../images/spiration-light.png");
}
a {
    text-decoration: none;
}

.header-box {
  position: relative;
 margin-top: 0;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
  padding-left: 10%;
  overflow: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  
}

.name-box {
    position: relative;
    margin: 0 550px 0 0;
    padding: 20px;
    float: left;
    color: white;
    background: #4aaaa5;
    overflow: auto;
    font-size: 22px;
}

.nav { position: relative;
    margin: 20px 0px 0px 0px;
    float: left;
}


.overbox {
    position: relative;
    overflow: auto;
    margin-bottom: 10px;
}
.main-box {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10%;
    width: 650px;
    padding-left: 20px;
    padding-bottom: 5%; 
    line-height: 200%;  
    border: 2px solid #cccccc;
    background: #ffffff;
    float: left;
    overflow: auto;
    
}



.maintxt {
    position: relative;
   
    
}

.face {
    position: relative;
    height: 250px;
    width: auto;
    float: left;
    margin-right: 30px; 
}



.main-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    width: 600px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 10px;
    font-size: 18px;
}



/*for portfolio pg*/

.picbox {
    position: relative;
   
    margin: 5px;
    height: 150px;
    width: 150px;
    background-image:url(http://lorempixel.com/150/150);
    float: left;
}


.word {
    position: absolute;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    margin-top: 70%;
}



.linkbox {
    position: relative;
    color: #4aaaa5;
    text-align: center;
    width: 270px;
    height: 20%;
    margin-top: 20px; 
    margin-left: 65%;
    border: 2px solid #cccccc;
    background: #ffffff;
    text-decoration: none;

}

.connect-bar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
    width: 200px;
    margin: 5px 5px 5px 30px;
    font-size: 18px;
    text-decoration: none;
}

.img {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 20px 10px;
    text-decoration: none;
}


.footer {
    position: absolute;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    color: white;
    background-color: #666666;
    height: 40px;
    padding-top: 30px; 
    font-size: 12px;
    margin-bottom: 0px;
    top: 900px;
}